* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    cursor: pointer;
}
ol,li {
    list-style: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#canvas {
    background-color: #FFF5C2;
    display: block;  /* 此属性不添加，会有默认滚轮存在 */
    position: fixed;
    left: 0;
    top: 0;
    cursor: Crosshair;
   
}
.actions {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transition: 0.3s;
}
.actions svg {
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
    margin: 0 10px;
}
.actions svg.active{
    transform: scale(1.2);
}
.colors {
    position: fixed;
    left: 24px;
    top: 80px;
}
.colors li {
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
    border-radius: 50%;
    transition: 0.3s;
}
.colors li:first-child {
    background-color: red;
}
.colors li:nth-child(2) {
    background-color: green;
    margin: 10px 0;
}
.colors li:nth-child(3) {
    background-color: yellow;
}
.colors li:nth-child(4) {
    background-color: black;
    margin: 10px 0;
}
.colors li.active {
    transform: scale(1.2);
    box-shadow: -2px 4px 39px -9px rgba(0,0,0,1);
}
.sizes {
    position: fixed;
    top: 220px;
    left: 24px;
}
.sizes > li:first-child {
    width: 20px;
    height: 0;
    border-bottom: 2px solid black;
}
.sizes > li:nth-child(2) {
    width: 20px;
    height: 0;
    border-bottom: 5px solid black;
    margin-top: 20px;
}
.cat {
    position: fixed;
    left: 140px;
    bottom: 12px;
    width: 125px;
    height: 100px;
    background: url(../images/5c88740567a85.gif);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.cat::before {
    content: "";
    position: fixed;
    left: 80px;
    bottom: 20px;
    width: 55px;
    height: 50px;
    background: url(../images/5c88740567a85.gif);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.cat::after {
    content: "";
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 55px;
    height: 50px;
    background: url(../images/5c88740567a85.gif);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}